version: "3.5"
services:
  otel-collector:
    container_name: otel-collector-contrib
    image: otel/opentelemetry-collector-contrib:0.64.0
    restart: always
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "8888:8888"   # Prometheus metrics exposed by the collector
      - "4317:4317"   # OTLP gRPC receiver
      - "4318:4318"   # OTLP http receiver
    networks:
      - monitoring

  app:
    container_name: app
    build:
      dockerfile: Dockerfile
      context: ./app
    restart: always
    ports:
      - "8000:8000" # metrics
      - "9000:9000" # app
    depends_on:
      - otel-collector
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge  
